@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

html,
body{
    font-family: roboto, sans-serif;
    background-color: #444;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

hr{
    width: 100%;
}

footer{
    background-color: #444444;
    width: 100%;
    height: 150px;
}

h1{
    color: white;
    font-weight: normal;
    text-align: center;
}

#channel-input-wrapper{
    display: flex;
    margin-top: 4px;
    height: 1.8em;


    button{
        height: calc(100% - 1px);
        width: 4em; 
        margin-left: 5px;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 1px 0px 1px #212121;
        background-color: #1381ff;
        color: white;
        transform: translateY(-1px);
    }

    input{
        flex-grow: 1;
    }
}

#channel-link-input{

    border-radius: 4px;
    padding: 0.9em 1em 0.7em 1em;
    background-color: #b3382c;
    color: white;
    padding-bottom: 1.5em;
    font-size: 20px;
    height: 100%;
    
    label{
        font-weight: normal;
        font-size: 20px;
    }

    input{
        height: 100%;
        width: 20em;
        border: none;
        padding: 0.25em 0.5em;
        border-radius: 4px;
    }
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-bar{
    width: 100%;
    height: 4em;
    background-color: #2f2c2c;
}

#videos-list{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content-wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.section{
    width: 100vw;
    background-color: white;
    padding: 1em 0 2em 0;

    p{
        line-height: 1.8em;
    }
}

.video-overview{
    border-radius: 4px;
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    img{
        width: 100%;
        border-radius: 10px;
    }

    a{
        color: black;
        text-decoration: none;
    }

    a:visited{
        text-decoration: none;
    }
}

.video-title{
    color: var(--yt-spec-text-primary);
    font-family: "Roboto","Arial",sans-serif;
    font-size: 18px;
    line-height: 2.2rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 4.4rem;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: inherit;
    white-space: nowrap;
    width: 100%;
    color: black;
}

.video-meta-data{
    color: rgb(96,96,96);
}

#video-list-toolbar{

    margin-left: auto;

    select,
    input{
        height: 2.5em;
        padding: 0.5em;
        border-radius: 5px;
        border: 1px solid gray;
        margin-bottom: 2em;
        align-self: flex-end;
        cursor: pointer;
    }
        
    input{
        margin-right: 1em;
        width: 200px;
    }
}

@keyframes upDown {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-4px);
    }
}

.loading{
    font-size: 35px;
    margin: auto;
}

.loading>span{
    display: inline-block;
    animation: upDown 0.3s ease 0s infinite alternate;

    @for $n from 0 to 9 {

      &:nth-child(#{$n}) {
        
        animation-delay: calc($n*1s/9);
      }
    }
}